
notebooks/.ipynb_checkpoints/temperature_trends-checkpoint.ipynb
notebooks/.ipynb_checkpoints/temperature-precipitation-checkpoint.ipynb
notebooks/.ipynb_checkpoints/temperature_trends-checkpoint.ipynb
notebooks/.ipynb_checkpoints/temperature_trends-checkpoint.ipynb
